extends ../layout/layout-base

block content
  .content
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-body
            .form-group
              label 需要预定几个位置: #{order.no}
            .form-group
              label 其中有几个小朋友（12岁以下）: #{order.child}
            - each sub in order.orders
              .orderGroup
                .form-group
                  .h5 餐厅所在城市: #{sub.city}
                .form-group
                  label 餐厅名字: #{sub.restaurant}
                .form-group
                  label 用餐日期: #{sub.date}
                .form-group
                  label 午餐 or 晚餐
                  if sub.isLunch
                    .form-inline
                      label 午餐：#{sub.lunch}
                  if sub.isDinner
                    .form-inline
                      label 晚餐：#{sub.dinner}
                .form-group
                  .h5 用户期望的具体时间 or 最终预定的时间：#{sub.time}
                if sub.bind_restaurants && sub.bind_restaurants.length
                  .form-group
                    label.h3 待预定的餐厅及备选餐厅详细信息
                    table.table.table-bordered
                      thead
                        td 餐厅
                        td 电话
                        td 地址
                      - each restaurant in sub.bind_restaurants
                        tr
                          td #{restaurant.name}
                          td #{restaurant.tel}
                          td #{restaurant.address}
            if order.advice !== ''
              .form-group
                label 建议
                pre !{order.advice}
            if order.other !== ''
              .form-group
                label 备注
                pre !{order.other}