doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{dish.name} - #{cityName} - 日料栈
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/dishRestaurantShow.css')
  body
    .restaurant-wrap
      .restaurant-city-dish #{dish.name} (#{cityName})&nbsp;&nbsp;
        span 推荐餐厅
      - each dishRestaurant in dishRestaurants
        - var restaurant = dishRestaurant.fetch_restaurant
        .restaurant
          .restaurant-title
            i.fa.fa-cutlery
            a(href='/dishRestaurant/#{dish._id}/#{restaurant._id}') #{restaurant.name}
              if restaurant.local_name !== ''
                | (#{restaurant.local_name})
            span.restaurant-price ￥#{restaurant.price}/人
          .restaurant-scores
            span 口味：#{restaurant.taste}
            span 环境：#{restaurant.env}
            span 服务：#{restaurant.service}
  include ../include/analytics