doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{dishRestaurant.fetch_restaurant.name} - 日料栈
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/dishRestaurantShow.css')
  body
    - var dish = dishRestaurant.dish
    - var restaurant = dishRestaurant.fetch_restaurant
    .dish-show-wrap
      if dishRestaurant.img !== '' || dish.img !== ''
        - var src = dishRestaurant.img || dish.img
        .dish-show-img-wrap
          .dish-show-img(style='background-image:url(#{dishRestaurant.img || dish.img})')
          .dish-show-name-bg &nbsp;
            span &nbsp;
          .dish-show-name #{dish.name}
            span #{restaurant.name}
              if restaurant.local_name !== ''
                | (#{restaurant.local_name})
      else
        .dish-show-name #{dish.name} - #{restaurant.name}
          if restaurant.local_name !== ''
            | (#{restaurant.local_name})
    .restaurant-wrap
      if dishRestaurant.recommend && dishRestaurant.recommend !== ''
        .dish-show-recommend #{dishRestaurant.recommend}
      if fetchRestaurantOther && fetchRestaurantOther.recommend !== ''
        .dish-show-recommend #{fetchRestaurantOther.recommend}
      .restaurant-title
        i.fa.fa-cutlery
        | #{restaurant.name}
        if restaurant.local_name !== ''
          | (#{restaurant.local_name})
        span.restaurant-price ￥#{restaurant.price}/人
      .restaurant-scores
        span 口味：#{restaurant.taste}
        span 环境：#{restaurant.env}
        span 服务：#{restaurant.service}
      .restaurant-item
        i.fa.fa-location-arrow
        | #{restaurant.address}
      .restaurant-item
        i.fa.fa-phone
        | #{restaurant.tel}
      if restaurant.dishes.length
        .restaurant-dishes
          .restaurant-dishes-title 推荐菜品
          .clearfix
            - each dish in restaurant.dishes
              .restaurant-dish #{dish.name} (#{dish.score})
  include ../include/analytics