extends ../layout/layout

append css_content
  style.
    html, body {
      background-color: #222;
    }

    .home-img {
      background-image: none;
    }
    .home-img-wrap {
      height: 100%;
    }
    .header-scroll {
      background: transparent;
      border-bottom-color: transparent;
      box-shadow: none;
    }
    .header-scroll.navbar-inverse .navbar-nav>li>a {
      color: #ffffff;
    }
    .info-wrap, .data-wrap {
      background: #fff;
    }
    .info-wrap, .data-wrap, footer {
      position: relative;
    }
    .home-info-logo {
      width: 160px;
      height: 160px;
    }
    .home-info-logo i {
      font-size: 80px;
      line-height: 150px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: block;
      top: 0;
      -webkit-transition: all .7s ease-out;
      -moz-transition: all .7s ease-out;
      transition: all .7s ease-out;
    }
    .home-info-logo:hover i {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
    .home-datas {
      padding-top: 100px;
      padding-bottom: 40px;
    }

block content
  .home-img-wrap
    .home-img-cover
    .home-img-content
      .home-img-pre-title 蜗牛爬爬
      .home-img-title 只为在路上的你...
      a.home-img-sub-title(href='javascript:{}' data-toggle='modal', data-target='.bs-qrcode-modal') 立即体验
  .modal.fade.bs-qrcode-modal(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") ×
          h4#mySmallModalLabel.modal-title 请用微信扫描二维码
            a.anchorjs-link(href="#mySmallModalLabel")
              span.anchorjs-icon
        .modal-body
          img.home-qrcode(src='/img/qrcode.jpg')
  .info-wrap
    .container
      .home-info
        .home-info-row.row
          .col-md-4
            .home-info-col
              .home-info-logo.logo-color-green
                i.glyphicon.glyphicon-stats
              .home-info-text 全国400家精品露营地,关于露营地的最全面的展示
          .col-md-4
            .home-info-col
              .home-info-logo.logo-color-red
                i.glyphicon.glyphicon-thumbs-up
              .home-info-text 300名达人在这里帮你解决关于房车、露营等专业问题
          .col-md-4
            .home-info-col
              .home-info-logo.logo-color-yellow
                i.glyphicon.glyphicon-user
              .home-info-text 超过20000名爱好者等你来约
  .videos-wrap
    .container
      - each showCamp in showCamps
        .row.videos-row
          - each camp in showCamp
            .col-md-4
              a.video-wrap(href='/camp/#{camp._id}')
                img.video-img(src=camp.imgs[0])
                .video-info
                  .row
                    .col-md-6
                      .video-restaurant
                        i.glyphicon.glyphicon-home
                        | #{camp.name}
                    //.col-md-6
                      .video-author
                        img(src=camp.userImg)
                        | #{camp.userName}
  .data-wrap
    .container
      .home-datas
        .row
          .col-md-3
            .panel.data-panel.data-panel-user.clearfix
              .data-icon-wrap
                i.glyphicon.glyphicon-user
              .data-content
                .data-content-val 20189
                .data-content-info 用户
          .col-md-3
            .panel.data-panel.data-panel-music.clearfix
              .data-icon-wrap
                i.glyphicon.glyphicon-home
              .data-content
                .data-content-val 430
                .data-content-info 露营地
          .col-md-3
            .panel.data-panel.data-panel-headphones.clearfix
              .data-icon-wrap
                i.glyphicon.glyphicon-map-marker
              .data-content
                .data-content-val 620
                .data-content-info 活动
          .col-md-3
            .panel.data-panel.data-panel-cutlery.clearfix
              .data-icon-wrap
                i.glyphicon.glyphicon-book
              .data-content
                .data-content-val 3612
                .data-content-info 分享
append js_content
  script(src='/lib/jquery-backstretch/jquery.backstretch.min.js')
  script.
    $(function() {
      //var img = '/img/home0' + (Math.floor(Math.random() * 4) + 1) + '.jpg';
      var img = '/img/home.jpg';
      $('.home-img-wrap').backstretch(img);
      $(window).scroll( function() {
        var st = $(this).scrollTop(),
          wh = $(window).height(),
          sf = 1.2 - st/(10*wh);

        $('.backstretch img').css({
          'transform' : 'scale('+sf+')',
          '-webkit-transform' : 'scale('+sf+')',
          'position': 'fixed'
        });

        $('.home-img-wrap .home-img-content').css({ 'opacity' : (1.4 - st/400) });

        if($(window).scrollTop() > ($(window).height() - 41)){
          //$('.backstretch').hide();
          $('header').removeClass('header-scroll');
        }else{
          //$('.backstretch').show();
          $('header').addClass('header-scroll');
        }

      });

      var st = $(this).scrollTop(),
        wh = $(window).height(),
      sf = 1.2 - st/(10*wh);

      $('.backstretch img').css({
        'transform' : 'scale('+sf+')',
        '-webkit-transform' : 'scale('+sf+')',
        'position': 'fixed'
      });

      $('.home-img-wrap .home-img-content').css({ 'opacity' : (1.4 - st/400) });

      if($(window).scrollTop() > ($(window).height() - 140)){
        $('.backstretch').hide();
        $('header').removeClass('header-scroll');
      }else{
        $('.backstretch').show();
        $('header').addClass('header-scroll');
      }

      $('.home-img-wrap').height($(window).height());

      $('.video-img').on('load', function () {
        var _baseWidth = $('.video-wrap').width();
        var _baseHeight = 270;
        var _imgHeight = $(this).height();
        var _imgWidth = $(this).width();
        if (_imgHeight > _baseHeight) {
          $(this).css('marginTop', (_baseHeight - _imgHeight) / 2);
        }
        if (_imgWidth > _baseWidth) {
          $(this).css('marginLeft', (_baseWidth - _imgWidth) / 2);
        }
      })

      setTimeout(function () {
        $('.video-img').addClass('video-img-transform');
      }, 1000);
    });