doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      if media.restaurant
        | “#{media.restaurant.name}”的语音点评 - 日料栈
      else
        | 日料栈
    link(rel="stylesheet", type="text/css", href="/vendor/circleAudioPlayer/css/style.css")
    style.
      a {
        -webkit-tap-highlight-color: transparent;
      }
      .player-holder {
        zoom: 1.3;
      }
      .share {
        font-size: 12px;
        color: #ffffff;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .btn {
        padding: 5px 10px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        background-image: none;
        border: 1px solid transparent;
      }
      .focus-btn {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
      }
      .focus-btn-wrap {
        position: absolute;
        bottom: 20px;
        width: 100%;
      }

      .player-info-wrap {
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }

      .player-info-wrap-with-width {
        background-size: auto 100%;
      }

      .mask {
        border-radius: 0;
        background-color: transparent;
        overflow: hidden;
      }
      .mask-inner {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 202px;
        height: 202px;
        background-color: #000;
      }
      .spinner, .filler {
        background-color: transparent;
        overflow: hidden;
        border-radius: 0;
      }
      .spinner-inner, .filler-inner {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #de620a;
        border-radius: 100px;
      }
      .filler-inner {
        left: -100px;
      }

      .action {
        width: 70px;
        height: 70px;
        top: 65px;
        left: 65px;
      }
      .icon-play, .icon-pause {
        top: 0;
        left: 0;
      }

    script(src='http://libs.useso.com/js/jquery/2.1.1/jquery.min.js')
    script(src='/vendor/circleAudioPlayer/js/player.js')
    script.
      $(function() {
        $('#load-img').one('load', function() {
          var img = $('.player-info-image');
          if(this.width > this.height) {
            $('.player-info-wrap').addClass('player-info-wrap-with-width');
          }
        });
      });
  body
    .share 点击右上角分享 ↑

    .player-holder
      .player
        .player-background
          .pie.spinner
            .spinner-inner
          .pie.filler
            .filler-inner
          .mask
            .mask-inner
        - var img = media.image_media_id && media.image_media_id !== '' ? '/upload/pic/' + media._id + '.jpg' : '/vendor/circleAudioPlayer/image/player.jpg'
          .player-info-wrap(style='background-image:url(#{img})')
            .player-info-text
              .player-info-author
                img(src=media.user.wx_img)
                | #{media.user.wx_name}
              .player-info-text-line
              .player-info-restaurant
                if media.restaurant.isTopic
                  | 专题语音
                else
                  | #{media.restaurant.name}
          img#load-img(src=img, style='visible:hidden')
        a.action(href="#")
          i.icon-play
          i.icon-pause
    audio#player(src='/upload/mp3/#{media._id}.mp3')
    .focus-btn-wrap
      a.btn.focus-btn(href='http://mp.weixin.qq.com/s?__biz=MzAwNzQwNzY4MQ==&mid=206201792&idx=1&sn=794008a007cf2951f08738aa366d0e57#rd') 关注日料栈
  include ../include/analytics