extends ../layout/layout

block css_content
  style.
    body {
      background-color: #ffffff;
    }
    .michelin-logo {
      background: url(../img/michelin/michelin-logo.png) 100% 100% no-repeat;
      padding-bottom: 100px;
    }
    .michelin-star {
      color: #c80228;
      font-size: 14px;
      padding-left: 10px;
    }
    .michelin-star span {
      padding-right: 5px;
    }
    .michelin-item {
      margin-top: 30px;
    }
    .michelin-item i {
      padding-right: 10px;
    }
    .michelin-img {
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
block content
  - var citys = {tokyo: '东京', kyoto: '京都', osaka: '大阪'}
  .container.michelin-logo
    h1 #{name}
      span.michelin-star
        - var n = 0
        while n < michelin_level
          - n++
            span.glyphicon.glyphicon-star
    .michelin-item
      a.btn.btn-primary(href='/client/order', target='_blank') 预定#{name}
    .michelin-item
      i.glyphicon.glyphicon-phone
      | #{tel}
    .michelin-item
      i.glyphicon.glyphicon-map-marker
      | #{citys[city]} #{area} #{address}
    .michelin-item
      i.glyphicon.glyphicon-usd
      if lunch
        span 午餐 #{lunch}RMB/人&nbsp;&nbsp;
      if price
        span(ng-show='price') 晚餐 #{price}RMB/人
    if open_time
      .michelin-item
        i.glyphicon.glyphicon-time
        | #{open_time}
    if day_off
      .michelin-item
        i.glyphicon.glyphicon-time
        | #{day_off}
    if img
      .michelin-item
        img.michelin-img(src=img)
